<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>- %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="HuntTheWumpusLogger" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
